.App {
    background-image: url(./images/background.jpg);
    background-size: cover;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: black;
    background-color: whitesmoke;
}

.ConversorContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
} 

@media (max-width: 400px) {
    h1 {
        font-size: 1em;
    }
} 